.career_details {
  display: flex;

  & + .career_details {
    margin-top: 4rem;
  }

  .career_details__title {
    strong {
      display: block;
      font-size: 1.2rem;
      white-space: nowrap;
      margin-bottom: 0.5rem;
    }
  }

  .career_details__paragraph {
    max-width: 720px;
    text-align: justify;
    margin-left: 2rem;
  }
}
