@import "../../../styles/mixins";

.career_details {
  display: flex;

  @media (max-width: $break-point-desktop) {
    flex-direction: column;
  }

  & + .career_details {
    margin-top: 4rem;
  }

  .career_details__title {
    strong {
      display: block;
      font-size: 1.2rem;
      white-space: nowrap;
      margin-bottom: 0.5rem;
    }

    @media (max-width: $break-point-desktop) {
      strong,
      span {
        display: block;
        text-align: center;
      }
    }
  }

  .career_details__paragraph {
    @include paragraph;
    margin-left: 2rem;

    @media (max-width: $break-point-desktop) {
      margin: 1rem 0 0;
      text-align: center;
    }
  }
}
