@import '../../styles/mixins';

.projects {
  @include container-spacing;

  .projects__title {
    @include gradient-title;
  }

  .projects__paragraph {
    margin-top: 1rem;
  }

  .projects__grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5rem;
    margin-top: 3rem;
  }
}
