@import "../../styles/mixins";

.about {
  @include container-spacing;

  margin: 0 auto;

  .about__title {
    @include gradient-title;
  }

  .about__paragraph {
    @include paragraph;

    & + .about__paragraph {
      margin-top: 1rem;
    }
  }

  .about__info__content {
    display: flex;
    justify-content: space-around;
    width: 100%;

    margin-top: 5rem;

    @media (max-width: $break-point-mobile) {
      flex-direction: column;
    }

    .about__personal_data {
      h3 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        color: var(--blue-400);
      }

      li {
        list-style: none;
        font-size: 1.2rem;

        & + li {
          margin-top: 0.5rem;
        }
      }

      @media (max-width: $break-point-mobile) {
        margin-bottom: 3rem;
      }
    }

    .about__skills {
      h3 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        color: var(--cyan-500);
      }

      .about__skills__content {
        .chevron {
          margin-top: 2rem;
        }

        width: 20rem;

        @media (max-width: $break-point-mobile) {
          width: 100%;
        }
      }
    }
  }
}
