@import '../../styles/mixins';

.about {
  @include container-spacing;

  margin: 0 auto;

  .about__title {
    @include gradient-title;
  }

  .about__paragraph {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;

    & + .about__paragraph {
      margin-top: 1rem;
    }
  }

  .about__info__content {
    display: flex;
    justify-content: space-around;
    width: 100%;

    margin-top: 5rem;

    .about__personal_data {
      h3 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        color: var(--blue-400);
      }

      li {
        list-style: none;
        font-size: 1.2rem;

        & + li {
          margin-top: 0.5rem;
        }
      }
    }

    .about__interests {
      h3 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        color: var(--cyan-500);
      }

      .about__interests__images {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;
      }
    }
  }
}
