@import "../../styles/mixins";

.home {
  max-width: var(--container-width);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  @media (max-width: $break-point-mobile) {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .home__info {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;

    @media (max-width: $break-point-mobile) {
      max-width: 80%;
    }

    .home__title {
      @include gradient-title;
      margin: 0;

      @media (max-width: $break-point-mobile) {
        font-size: 2rem;
      }
    }

    .home__paragraph {
      @include paragraph;
    }

    .home__button {
      border: unset;
      font-weight: 900;
      font-size: 1.2rem;
      text-align: center;

      color: var(--white);
      background-size: 200% auto;
      background-image: linear-gradient(
        90deg,
        var(--blue-700) 0%,
        var(--cyan-500) 50%,
        var(--blue-700) 100%
      );

      width: 10rem;
      height: 2.5rem;
      line-height: 2.5rem;
      border-radius: 0.5rem;

      transition: 0.5s;

      &:hover {
        background-position: right center;
      }

      @media (max-width: $break-point-mobile) {
        width: 8rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 1rem;
      }
    }
  }

  .home__img {
    @media (max-width: $break-point-mobile) {
      width: 300px;
    }
  }
}
