@import '../../styles/mixins';

.home {
  max-width: var(--container-width);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  .home__info {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;

    .home__title {
      @include gradient-title;
      margin: 0;
    }

    .home__paragraph {
      line-height: 1.5rem;
      font-size: 1.2rem;
    }

    .home__button {
      border: unset;
      font-weight: 900;
      text-align: center;

      color: var(--white);
      background-size: 200% auto;
      background-image: linear-gradient(
        90deg,
        var(--blue-700) 0%,
        var(--cyan-500) 50%,
        var(--blue-700) 100%
      );

      width: 8rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 0.5rem;

      transition: 0.5s;

      &:hover {
        background-position: right center;
      }
    }
  }
}
