@import '../../styles/mixins';

.contact {
  @include container-spacing;

  .contact__title {
    @include gradient-title;
  }

  .contact__content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5rem;

    .contact__item {
      span {
        display: block;
        margin-top: 0.5rem;
        text-align: center;
      }
    }
  }
}
