@import '../../styles/mixins';

.contact {
  @include container-spacing;

  .contact__title {
    @include gradient-title;
  }

  .contact__content {
    display: flex;
    justify-content: space-around;
    width: 70%;

    .contact__item {
      span {
        display: block;
        margin-top: 0.5rem;
        text-align: center;
      }
    }
  }

  .contact__email {
    margin-top: 5rem;
  }
}
