.footer {
  background: var(--white);
  height: 2rem;
  margin-top: 5rem;
  border-top: 0.5px solid var(--gray-300);

  .footer__content {
    line-height: 2rem;
    text-align: center;
    font-weight: 700;
    color: var(--gray-900);
  }
}
